<div class="row">
	<div class="span5">
		<%= form_for @event,:url => events_path, :html=> {:multipart => true} do |event_form| %>

		<%= render 'shared/error_messages', object: event_form.object %>
		<div>
			<%= event_form.label 'Event name:' %>
			<%= event_form.text_field :name, :value => '123' %>
			
			<%= event_form.label 'Date:' %>
			<%= event_form.text_field :start_time, :id => 'datepicker'%>

            <%= event_form.label :content, 'Contents' %>
            <%= event_form.text_area :content , :rows=> 6 %>
			
			<%= event_form.label :price, 'Price' %>
			<%= event_form.text_field :price, :value => 123%>

            <%= event_form.label 'Duration:' %>
            <%= event_form.text_field :duration, :value => '123' %>
			
			<%= event_form.label :poster, 'Poster image' %>
			<%= event_form.file_field :poster %>		
			
		</div>
		    <%= event_form.submit 'Create Event', :class => 'btn btn-primary' %>
		<% end %>
	</div>
	
	
</div>
	

   
