<header class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">

<ul class="nav pull-right">
<li><%= link_to "Home",  root_path %></li>
<li><%= link_to "Event List",  events_path %></li>


	<% if signed_in? %>
	
	<li><%= link_to "Sign out", signout_path, method: :delete %> </li>
	<li><%= link_to "My Profile", current_user %></li>
      <% if current_user.admin %>
          <li><%= link_to 'Administer',  administer_path %></li>
      <% end %>

	
	<% else %>
		<li><%= link_to "Sign_in", signin_path %></li>

	<% end %>
</ul>
	


</div>
</div>
</header>

